---
---
@charset "utf-8";

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #f1f3f4;
  background-color: #002b36;
  padding: 10px;
}

a {
  color: #f1f3f4;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}

p, blockquote, pre, ul, ol, dl, figure {
  margin-bottom: 15px;
}

img { max-width: 100%; }

pre, code {
  font-size: 15px;
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #003847;
}

code { padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code { border: 0; padding: 0; }
}

blockquote {
  color: #93a1a1;
  border-left: 4px solid #444;
  padding-left: 10px;
  font-style: italic;
}
